*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;

}

#heading h1{
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 170px;
}
#left button{
    background: transparent;
    border: none;

}
#mid a{
    text-decoration: none;
    padding: 0px 15px;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#pink_div {
    padding: 50px 100px;
    background-color: #ffd7d7;
}
#heading1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#heading1 h5 i{
   padding: 0px 10px;
   font-size: 20px;
   align-items: center;
}
#heading1 h5{
    font-weight: 400;
}
.btn1{
    padding: 10px 12px;
    background-color: black;
    color: #fff;
}
.btn2{
    padding: 10px 12px;
    color: #000;
    background-color: #fff;
    
}
input{
    padding: 8px 0px;
}
select{
    padding: 8px 25px;
}
#check{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#check1{
    display: flex;
    align-items: center;
    padding-left: 20px;

}
#list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#one{
    margin-top: -21px;
    padding-bottom: 20px;
    width: fit-content;
    background-color: #ffd7d7;
}
#two{
    margin-top: -600px;
    padding: 20px 20px;
    background-color: #ffd7d7;
    width: fit-content;
    padding-bottom: 20px;
}
.pay{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#three{
    margin-top: -100px;
    width: fit-content;
    background-color: #ffd7d7;
    padding-bottom: 20px;
    
}
#head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}
.image1 img{
    height: 100px;
    width: 80px;
}
#img-card{
    padding: 10px 20px;

}
.image1{
    display: flex;
    align-items: center;
}
.price{
    padding-left: 60px;
}
#btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#btns button{
    border-color: #bcbbbb;
    background-color: #fff;
    color: #0a0a0a;
    padding: 10px 20px;
}
#dete{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#dete1 h5{
   color: #b1b1b1;
   font-weight: 400;
}
#terms{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#last{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#last-btn{
    padding-left: 10px;
}
#last-btn button{
    background-color: #000;
    color: #fff;
    padding: 10px 120px;
}
#four{
    padding: 10px 40px;
    background-color: #ffd7d7;
}
#small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 10px;
    color: #a2a2a2;

}
#order {
    display: flex;
    align-items: center;
    
}
#order p{
    padding: 5px 25px;
    background-color: #fff;
    border-radius: 5px;
}
#order button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 13px;


}
#pay{
    padding: 10px 0px;
}
#pay p{
    color: #a2a2a2;
}
#Delivery{
    padding: 10px 0px;
}
#Delivery p{
    padding: 5px 0px;
    color: #a2a2a2;
}
#Help p{
    color: #a2a2a2;
}
#totals{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#totals p{
    color: #a2a2a2;
}
#bill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

#page5{
    margin-top: 30px;
    background-color: #ffd7d7;

}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}